
section a {
  text-decoration: underline;
}

button.navbar-burger {
  background-color: transparent;
  border: none;
}

.title {
  font-weight: bold;
}

.fill-parent {
  width: 90%;
  height: 90%;
}

#codeOfConduct p {
  padding: 0.5rem;
}

#header {
  background-image: url("./img/passau-cropped-tiny.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header .title {
  color: white;
  font-size: 6rem;
  text-shadow: 3px 3px 2px black;
}

@media (max-width: 768px) {
  #header {
    background-image: url("./img/passau-cropped-tiny.jpg");
  }
  #header .title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  #header {
    min-height: 45rem;
  }
}

#header img {
  margin-top: 1rem;
  margin-right: 1rem;
  float: right;
  width: 256px;
  height: 256px;
  }

@media (max-width: 768px) {
  #header img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
}

#events .card {
  box-shadow: 5px 5px 3px 2px darkslategray;
  border-radius: 0.5rem;
}

#installation h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

#installation ul {
  list-style: disc inside;
  margin-left: 1em;
}

#contacts .panel-heading {
  background-color: white;
  border-color: white;
}

#contacts .panel-block {
  border-color: white;
}

#contacts .panel-block:hover {
  background-color: hsl(217, 71%, 53%);
}
  